* {
    outline: none;
    -moz-outline: none;
}
*::-moz-focus-inner{
  border: 0;
}
body{
  background-color: #00BFA5;
  /* filter: invert(); */
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  /* margin-left: 3vw;
  margin-right: 3vw; */
  margin: 1vh 1vh 1vh 1vh;
  user-select: none;
  -moz-user-select: none;
}
textarea::-webkit-input-placeholder {
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
  color: #F5F5F5;
}

textarea:-moz-placeholder { /* Firefox 18- */
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
  color: #F5F5F5;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
  color: #F5F5F5;
}

textarea:-ms-input-placeholder {
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
  color: #F5F5F5;
}

textarea::placeholder {
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
  color: #F5F5F5;
}
.grid-container{
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(14, 6.62053571429%);
  grid-template-rows: repeat(14, 6.07142857143%);
  grid-gap: 1vh 1vh;
}
/* .grid-container *{box-sizing: border-box;} */
/*-- our cleafix hack -- */
#navbar{
  grid-column: 1 / 2;
  grid-row: 1 / 15;
  color: white;
  /* filter: drop-shadow(5px 5px 2vh #222222); */
  background-color: #004D40;
  border-radius: 5px;
  float: left;
  position: relative;
}
#navbar ul{
  width: 100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: white;
}
#navbar #bottom{
  width: 100%;
  position: absolute;
  bottom: 0;
}
#navbar ul li{
  /* display: table-cell; */
  font-size: 2.25vh;
  padding: 1vh 0vw 1vh 0vw;
  /* border-bottom: solid 1px rgba(255, 255, 255, 0.35); */
  text-align: center;
  cursor: pointer;
  transition: background-color .35s ease-in;
}
#navbar ul li:hover{
  background-color: rgba(255,255,255,0.25);
}
#resultSpace{
  grid-column: 2 / 15;
  grid-row: 1 / 15;
  color: white;
  /* filter: drop-shadow(5px 5px 2vh #222222); */
  background-color: #00796B;
  border-radius: 5px;
  float: left;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(14, 7.14285714286%);
}
#resultSpace #headerTable{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  /* width: 100%;
  height: auto; */
  margin: 0;
  padding: 0;
  /* list-style-type: none; */
  color: white;
  background-color: #195e53;
  border-radius: 5px;
  display: table;
  font-size: 2.7vh;
}
#resultSpace #headerTable #header{
  width: 100%;
  /* height: 10px; */
  background-color: rgba(156,147,206,0.0);
  border: 1px white;
}
#resultSpace table #date{
  width: 10%;
  /* height: 7.5vh; */
}
#resultSpace table #time{
  width: 10%;
  /* height: 7.5vh; */
}
#resultSpace table #Name{
  width: 50%;
  /* height: 7.5vh; */
}
#resultSpace table #detected{
  width: 15%;
  /* height: 7.5vh; */
}

#resultSpace table #total{
  width: 15%;
  /* height: 7.5vh; */
}
#resultSpace #bottomSpan{
  grid-column: 1 / 3;
  grid-row: 2 / 15;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
#resultSpace #list{
  width: 100%;
  height: 100%;
  /* width: 100%;
  height: auto; */
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: white;
  /* background-color: #195e53; */
  border-radius: 5px;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  /* overflow-x: hidden;
  overflow-y: auto; */
}
#resultSpace #list tr{
  /* box-sizing: border-box; */
  display: table;
  font-size: 2.25vh;
  height: 7.5%;
  width: 100%;
  /* flex-basis: 0; */
  /* padding: 1vh 0vw 1vh 0vw; */
  /* border-bottom: solid 1px rgba(255, 255, 255, 0); */
  text-align: center;
  cursor: pointer;
  border-bottom: solid 1px rgba(255, 255, 255, 0.05);
  transition: background-color .35s ease-in;
  border-radius: 5px;
  /* vertical-align: middle; */
}
#resultSpace #list tr td{
  /* width: 100%; */
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  border-radius: 5px;
}
#resultSpace #list tr:hover{
  background-color: rgba(255,255,255,0.25);
}
