body{
  background: #a8c0ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(110deg, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(110deg, #3f2b96, #a8aaff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/*/  background: #ff00cc;  /* fallback for old browsers
background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6
background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
/* background: #B3FFAB;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to left, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to left, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
overflow: hidden;
font-family: 'Roboto', sans-serif;
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}
#navBar{
  width: 100vw;
  height: 7.5vh;
  background-color: rgba(255,255,255,0.15);
  position: absolute;
  top:0vh;
  left:0vw;
  color:black;
}
#navBar #home{
  position: absolute;
  width: 10%;
  height: 100%;
  display: table;
  cursor: pointer;
  left: 0%;
  transition: background-color .35s ease-in;
}
#navBar #home:hover{
  background-color: rgba(255,255,255,0.25);
}
#navBar #home p{
  display: table-cell;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
}
#navBar #user{
  position: absolute;
  width: 10%;
  height: 100%;
  display: table;
  cursor: pointer;
  left: 10%;
  transition: background-color .35s ease-in;
}
#navBar #user:hover{
  background-color: rgba(255,255,255,0.25);
}
#navBar #user p{
  display: table-cell;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
}
#navBar #admin{
  position: absolute;
  width: 10%;
  height: 100%;
  display: table;
  cursor: pointer;
  left: 20%;
  transition: background-color .35s ease-in;
}
#navBar #admin:hover{
  background-color: rgba(255,255,255,0.25);
}
#navBar #admin p{
  display: table-cell;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
}
#navBar #aboutUs{
  position: absolute;
  width: 10%;
  height: 100%;
  display: table;
  cursor: pointer;
  left: 40%;
  transition: background-color .35s ease-in;
}
#navBar #aboutUs:hover{
  background-color: rgba(255,255,255,0.25);
}
#navBar #aboutUs p{
  display: table-cell;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
}
#navBar #help{
  position: absolute;
  width: 10%;
  height: 100%;
  display: table;
  cursor: pointer;
  left: 30%;
  transition: background-color .35s ease-in;
}
#navBar #help:hover{
  background-color: rgba(255,255,255,0.25);
}
#navBar #help p{
  display: table-cell;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
}
#navBar #photo{
  position: absolute;
  width: 35%;
  height: 100%;
  /* display: table; */
  left: 77.5%;
  top: -60%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  /* left: 100%; */
  /* top: 0%; */
  /* transition: background-color .35s ease-in; */
}
#navBar #photo img{
  width: 100%;
  height: 220%;
}
#backdrop{
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.25);
  z-index: 100;
  position: absolute;
  left: 0vw;
  top: 7.5vh;
  color: black;
}
#backdrop #top{
  height: 10%;
  position: relative;
  top: 0%;
  border-bottom: .1px solid rgba(255,255,255,0.25);
}
#backdrop #bottom{
  height: 90%;
  width: 100%;
  position: absolute;
  top: 10%;
  overflow-y: auto;
}
#backdrop table#headerTable{
  width: 100%;
  height: 10vh;
  border-collapse: collapse;
  text-align: center;
  position: sticky;
  top: 0%;
  border-bottom: 1px
  /* padding: 15px; */
}
#backdrop table#headerTable #header{

  width: 100%;
  /* height: 10px; */
  background-color: rgba(156,147,206,0.0);
  border: 1px white;
}
#backdrop #bottom table{
  width: 100%;
  /* height: 100%; */
  border-collapse: collapse;
  text-align: center;
  /* padding: 15px; */
}

#backdrop table #ipadd{
  width: 100%;
  height: 7.5vh;
}

#backdrop #bottom table #content{
  /* width: 25%; */
  /* height: 1vh; */
  border-bottom: .1px solid rgba(255,255,255,0.25);
  transition: background-color .35s ease-in;
}
#backdrop #bottom table #content:hover{
  background-color: rgba(255, 255, 255, 0.15);
}
#backdrop #bottom table #content td{
  /* width: 25%; */
  transition: background-color .35s ease-in;
}
#backdrop #bottom table #content td:hover{
  background-color: rgba(255, 255, 255, 0.35);
}
