<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <title>CSE Analytics</title>
  </head>
  <body>
    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
    <div id="navBar">
        <div id="home" onclick="window.location.href = '/'"><p>Home</p></div>
        <div id="user" onclick="users()"><p>Users</p></div>
        <div id="admin" onclick="window.location.href = '/userSelect'"><p>Admin</p></div>
        <div id='photo'><img src='{{ url_for('static',filename='photos/CSE Logo.png') }}'></div>
        <!-- <div id="help" onclick="window.location.href = '/help'"><p>Help</p></div> -->
        <!-- <div id="aboutUs" onclick="window.location.href = '/aboutUs'"><p>About Us</p></div> -->
    </div>
      <div id="backdrop">
        <div id="box">
        <ul>
          <li>Our View</li>
          <li>The goal of CSE Analytics is to help businesses automatically tackle cyber security threats.</li>
          <li>CSE Analytics is unlike any other cyber security solution in the industry due to it having multiple verification factors.</li>
          <li>The first verification factor is download control, since the users download is sent to a remote sandbox virtualized environment, there is little chance of malware slipping out of the network.</li>
          <li>The second verification is uploading the files to VirusTotal, and extracting results in real time.</li>
          <li>The last verification factor is the network administrator, the administrator can access reports of file scans categorized for the individual user, by the user’s IP address.</li>
          <li>The administrator can also help by live streaming the users computer to fix any error the user may have.</li>
      </div>
    </div>
  </body>
</html>
