<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/scanResults.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <meta charset="utf-8">
    <script src="{{ url_for('static',filename='js/jquery.js') }}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js"></script> -->
    <script src="{{ url_for('static',filename='js/socket.js') }}"></script>
    <title>Scan Results</title>
  </head>
  <body>
    <script src="{{ url_for('static',filename='js/scanResults.js') }}"></script>
    <div id="navBar">
        <div id="home" onclick="window.location.href = '/'"><p>Home</p></div>
        <div id="user" onclick="users()"><p>Users</p></div>
        <div id="admin" onclick="window.location.href = '/userSelect'"><p>Admin</p></div>
        <div id='photo'><img src='{{ url_for('static',filename='photos/CSE Logo.png') }}'></div>
        <!-- <div id="help" onclick="window.location.href = '/help'"><p>Help</p></div> -->
        <!-- <div id="aboutUs" onclick="window.location.href = '/aboutUs'"><p>About Us</p></div> -->
    </div>
    <div id="backdrop">
      <div id="top">
        <table id="headerTable">
          <tr id="header">
            <th id="date">Date:</th>
            <th id="time">Time:</th>
            <th id="Name">Name</th>
            <th id="total">Total</th>
            <th id="detected">Detected</th>
          </tr>
        </table>
      </div>
      <div id="bottom">
        <table>
          <div>
            {% for message in get_flashed_messages() %}
              {{ message }}
            {% endfor %}
          </div>
        </table>
      </div>
    </div>

  </body>
</html>
