<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/test.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <title>Test</title>
  </head>
  <body>
    <div id="navbar">
      <ul id="left">
        <li onclick="window.location.href='/'">CSE Analytics</li>
        <li onclick="window.location.href='/users'">Users</li>
        <li>Enterprise</li>
        <li>Documentation</li>
        <li>About Us</li>
      </ul>
      <ul id="right">
        <li>Contact</li>
        <li>Try For Free</li>
      </ul>
    </div>
    <div id="mainCard"><img src="{{ url_for('static',filename='photos/cySec.jpeg') }}"></div>
    <div id="sideCard">
      <ul>
        <li>Our View</li>
        <li>The goal of CSE Analytics is to help businesses automatically tackle cyber security threats.</li>
        <li>CSE Analytics is unlike any other cyber security solution in the industry due to it having multiple verification factors.</li>
        <li>The first verification factor is download control, since the users download is sent to a remote sandbox virtualized environment, there is little chance of malware slipping out of the network.</li>
        <li>The second verification is uploading the files to VirusTotal, and extracting results in real time.</li>
        <li>The last verification factor is the network administrator, the administrator can access reports of file scans categorized for the individual user, by the user’s IP address.</li>
        <li>The administrator can also help by live streaming the users computer to fix any error the user may have.</li>
      </ul>
    </div>
    <div id="nextScroll">
      <ul>
        <li>Our View</li>
        <li>The goal of CSE Analytics is to help businesses automatically tackle cyber security threats.</li>
        <li>CSE Analytics is unlike any other cyber security solution in the industry due to it having multiple verification factors.</li>
        <li>The first verification factor is download control, since the users download is sent to a remote sandbox virtualized environment, there is little chance of malware slipping out of the network.</li>
        <li>The second verification is uploading the files to VirusTotal, and extracting results in real time.</li>
        <li>The last verification factor is the network administrator, the administrator can access reports of file scans categorized for the individual user, by the user’s IP address.</li>
        <li>The administrator can also help by live streaming the users computer to fix any error the user may have.</li>
      </ul>
    </div>
  </body>
</html>
