<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Panel Test 2</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/users2.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100|Eczar" rel="stylesheet">
  </head>
  <body>
  <script src="{{ url_for('static',filename='js/users2.js') }}"></script>
  <div class="grid-container">
    <div id="navbar">
    </div>
    <div id="upEvents"></div>
    <div id="notes"></div>
    <div id="email"></div>
    <div id="notifications"></div>
    <div id="lastMonth"></div>
    <div id="lastTFHours"></div>
    <div id="messageAdmin"></div>
    <div id="schedule"></div>
  </body>
</html>
