<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Panel Test</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/userTest.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
  </head>
  <body>
  <script src="{{ url_for('static',filename='js/userTest.js') }}"></script>
  <div id="navbar">
    <ul id="left">
      <li onclick="window.location.href='/'">CSE Analytics</li>
      <li onclick="window.location.href='/users'">Users</li>
      <li>Enterprise</li>
      <li>Documentation</li>
      <li>About Us</li>
    </ul>
    <ul id="right">
      <li>Contact</li>
      <!-- <li>Try For Free</li> -->
    </ul>
  </div>
  <div id="top1"></div>
  <div id="top2"></div>
  <div id="top3"></div>
  <div id="top4"></div>
  <div id="middle1"></div>
  <div id="middle2"></div>
  <div id="middle3"></div>
  <div id="middle4"></div>
  <div id="bottom1"></div>
  <div id="bottom2"></div>
  <div id="bottom3"></div>
  <div id="bottom4"></div>
  </body>
</html>
